html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing-img-container {
  position: relative !important;
  text-align: center !important;
}

.landing-img-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  color: white;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.about-me {
  position: relative !important;
  text-align: center;
  width: 100%;
}

.about-me-contents {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.project-container {
  position: relative !important;
  text-align: center;
  width: 100%;
}

.project-contents {
  width: 100%;
}

.contact-me-container {
  background-color: #00adb5;
  position: relative !important;
  text-align: center;
  width: 100%;
}

.contact-me-contents {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.experience-skills {
  height: 75vh !important;
  position: relative !important;
  text-align: center !important;
  background-color: #393e46;
}

.experience-skills-content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.footer-container {
  height: 20vh !important;
  position: relative !important;
  text-align: center !important;
  background-color: #eeeeee;
}

.footer-contents {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .landing-img {
    height: 100vh !important;
    object-fit: cover;
  }

  .about-me {
    height: 270vh;
  }

  .process-container {
    height: 55vh;
  }

  .contact-me-container {
    height: 90vh !important;
    background-color: #00adb5;
  }

  .contact-me-contents {
    position: relative;
    top: auto !important;
    left: auto !important;
    transform: none !important;
  }

  .experience-skills {
    height: 110vh !important;
  }

  .experience-skills-content {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .landing-img {
    height: 100vh !important;
    object-fit: cover;
  }

  .about-me {
    height: 105vh;
  }

  .process-container {
    height: 55vh;
  }

  .contact-me-container {
    height: 55vh !important;
  }

  .experience-skills {
    height: 85vh !important;
  }

  .experience-skills-content {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landing-img {
    height: 100vh !important;
    object-fit: cover;
  }

  .about-me {
    height: 115vh !important;
  }

  .process-container {
    height: 55vh;
  }

  .contact-me-container {
    height: 90vh !important;
  }

  .experience-skills {
    height: 55vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landing-img {
    height: 100vh !important;
    object-fit: cover;
  }

  .about-me {
    height: 130vh !important;
  }

  .process-container {
    height: 55vh;
  }

  .contact-me-container {
    height: 90vh !important;
  }

  .experience-skills {
    height: 45vh !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .landing-img {
    height: 100vh !important;
    object-fit: cover;
  }

  .about-me {
    height: 130vh !important;
  }

  .process-container {
    height: 55vh;
  }

  .contact-me-container {
    height: 90vh !important;
  }

  .experience-skills {
    height: 55vh !important;
  }
}
